html, html a {
  @include font-smoothing;
}

* {
  box-sizing: border-box;
}

body {
  @include sans(1rem);
  background: $background;
  color: $text;
}

#container {
  @include _transition(margin);
  background: $background;
  position: relative;
  z-index: 2;
  width: 100%;

  &.menu-open {
    margin-left: -$nav-width;
  }
}


a {
  @include _transition(color);
  color: $text;

  &:hover {
    color: $highlight;
  }
}
