header {
  @include clearfix;
  background: $header-background;
  color: $header-text;
  padding: 20px $global-padding;

  a {
    color: $header-text;
  }

  h1 {
    @include float-left;

    a {
      $file: 'logo.png';
      background: image-url($file) no-repeat;
      height: image-height($file);
      width: image-width($file);
      display: block;
      text-indent: -9999px;
    }
  }

  .nav-toggle {
    @include float-right;
    @include icons(1rem);
    cursor: pointer;

    &:before {
      content: '\f0c9';
    }
  }
}
