header {
  @include clearfix;
  background: $header-background;
  color: $header-text;
  padding: 20px $global-padding;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: $header-height;
  border-bottom: 1px solid $background;

  a {
    color: $header-text;
  }

  h1 {
    @include float-left;
  }

  .menu-toggle {
    @include float-right;
  }
}

nav {
  background: $nav-background;
  color: $nav-text;
}

#container {
  @include _transition(transform);
  background: $background image-url('preloader.gif') no-repeat center center;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2;
  overflow: auto;
  width: 100%;
  padding: $header-height $global-padding 0;
  -webkit-overflow-scrolling: touch;

  &.menu-open {
    @include transform(translate(-$nav-width, 0));
  }

  &.loaded {
    min-height: 100%;
    height: auto;
    background-image: none;
  }
}

footer {

  a {
    color: $background;

    &:hover {
      color: $text;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  #container {
    padding: $header-height $global-mobile-padding 0;
  }
}
