nav {
  background: $nav-background;
  color: $nav-text;
  z-index: 1;
  width: $nav-width;
  position: fixed;
  right: 0; top: 0;
  height: 100%;
  padding: ($header-height + 20px) 20px 20px;
}

ul.sources {
  margin: 25px 0 0;

  li {
    display: inline-block;
    width: 45%;
    margin: 0 5% 5% 0;
    background: darken($nav-background, 10%);
    cursor: pointer;

    &:nth-of-type(2n) {
      margin: 0 0 5% 0;
    }

    input[type=checkbox] {
      display: none;

      &:checked + label {
        outline: 4px solid $background;
      }
    }

    label {
      display: block;
      text-align: center;
      font-size: 0.85rem;

      &:before {
        height: 100px;
        color: white;
        display: block;
        font-size: 4rem;
      }
    }
  }
}

ul.settings {
  margin: 0 0 25px;

  li {
    input[type=checkbox] {
      margin-right: 8px;
    }

    label {
      vertical-align: middle;
    }
  }
}

ul.buttons {
  @include sans(0.85rem);
  font-weight: bold;

  li {
    margin-bottom: 15px;
  }

  a  {
    @include border-radius(3px);
    background: $background;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: lighten($text, 20%);

    &:hover {
      @include _transition(all);
      color: $text;
      background: darken($background, 10%);
    }
  }
}
