ul.posts {
  padding: 50px 0;

  li {
    @include clearfix;
    margin: 0 0 1.5rem 0;
    background: $posts-background;
    height: $post-height;
    padding-right: 10px;

    &:before {
      color: white;
      font-size: 2.5em;
      text-align: center;
      width: $post-height;
      height: $post-height;
      display: block;
      position: absolute;
    }
  }

  .info {
    @include float-left;
    margin-left: 80px;
  }

  h2 {
    font-size: 1.5rem;

    a {
      display: inline-block;
      line-height: $post-height;

      &:visited {
        color: lighten($text, 40%);
      }
    }
  }

  date {
    font-size: 0.75rem;
    color: lighten($text, 20%);
  }

  h3 {
    @include float-right;
    position: relative;
    width: 40px;

    a {
      position: relative;
      z-index: 2;
      display: block;
      text-align: center;
      margin: 18px 0 0 -1px;
      font-weight: bold;
      color: white;
    }

    &:after {
      @include icons(2.5rem);
      @include _transition(color);
      content: '\f075';
      color: darken($background, 10%);
      position: absolute;
      top: 0; left: 0;
      z-index: 1;
    }

    &:hover:after {
      color: $highlight;
    }
  }

  a {
    text-decoration: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  ul.posts {
    li {
      overflow: auto;
      height: auto;

      .info {
        margin-bottom: 12px;
      }
    }
    h3.comments {
      display: none;
    }
  }
}
