ul.posts {
  padding: 50px 0;

  li {
    @include clearfix;
    position: relative;
    margin: 0 0 1.5rem 0;
    background: $posts-background;
    height: $post-height;
    padding-right: 10px;

    &:before {
      color: white;
      font-size: 2.5em;
      text-align: center;
      width: $post-height;
      height: $post-height;
      display: block;
      position: absolute;
    }
  }

  .info {
    @include float-left;
    margin-left: 80px;
  }

  h2 {
    margin-right: 50px;
    font-size: 1.5rem;

    a {
      display: inline-block;
      line-height: $post-height;

      &:visited {
        color: lighten($text, 40%);
      }
    }
  }

  date {
    font-size: 0.75rem;
    color: lighten($text, 20%);
  }

  h3 {
    position: absolute;
    right: 10px;
    width: 40px;

    a {
      position: relative;
      z-index: 2;
      display: block;
      text-align: center;
      margin: 18px 0 0 -1px;
      font-weight: bold;
      color: white;
    }

    &:after {
      @include icons(2.5rem);
      @include _transition(color);
      content: '\f075';
      color: darken($background, 10%);
      position: absolute;
      top: 0; left: 0;
      z-index: 1;
    }

    &:hover:after {
      color: $highlight;
    }
  }

  a {
    text-decoration: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  ul.posts {
    padding: $global-mobile-padding 0;

    li {
      overflow: auto;
      height: auto;
      margin-bottom: $global-mobile-padding;

      .info {
        margin: 6px 0 6px 75px;
      }
    }

    h3.comments {
      display: none;
    }

    h2 {
      font-size: 1.2rem;

      a {
        display: block;
        line-height: 1.3;
        margin-bottom: 6px;
      }

      date {
        display: block;
      }
    }
  }
}
